.footer {
	margin: 1em 0 0.5em;
	font-weight: 700;
	font-size: clamp(12px, calc(12px + 0.5vw), 16px);
	background: url("./../../img/fotter-bg.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-nav {
	position: relative;
	padding-bottom: 70px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: stretch;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		background-image: linear-gradient(to right, #343045, #c0b7e8 34.8958%, #8176af 68.75%, #343045);
		height: 2px;
		width: 100%;
	}

	@include tablet {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
}

.footer-nav ul {
	position: relative;
	margin: 1em 0 0.5em;
	font-size: clamp(12px, calc(12px + 0.5vw), 16px);
	font-weight: 700;
	display: grid;
	gap: 15px;

	&::before {
		content: "";
		position: absolute;
		left: -100px;
		bottom: 0;
		height: 100%;
		width: 6px;
		background: linear-gradient(to top, #343045, #343045, #c0b7e8 34.8958%, #8176af 68.75%, #343045 99.4792%);
	}

	@include tablet {
		display: none;
	}
}

.footer-nav ul:nth-child(3) {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		right: -100px;;
		bottom: 0;
		height: 100%;
		width: 6px;
		background: linear-gradient(to top, #343045, #343045, #c0b7e8 34.8958%, #8176af 68.75%, #343045 99.4792%);
	}

	@include tablet {
		display: none;
	}

}

.footer__social {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.footer-nav__icon-group {
	display: flex;
	gap: 20px;
}

.footer-nav__copyright {
	padding-top: 50px;
	text-align: center;

	@include tablet {
		letter-spacing: 0.13em;
	}
}
