.gallery {
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.galary__card {
    display: flex;
    gap: 20px;
}

.gallery__scroll {
    padding-bottom: 50px;
}