.scroll__img {
    position: relative;
    height: 303px;
    width: 100%;
    background-image: url("./../../img/scroll.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 160px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        top: 0;
        height: 100%;
        background: rgba(48, 44, 66, 0.79);
        z-index: 10;
    }

    @include tablet {
        padding-bottom: 50px;
        max-height: 163px;
    }
}

.scroll__titile {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 12;
}
