.slider-wrapper {
    position: relative;
    @include tablet {
        width: 320px;
        margin: 20px auto;
        display: flex; /* Добавляем flexbox для контейнера */
        flex-direction: column; /* Выравниваем по вертикали */
    }
}

.slider-container {
    @include tablet {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;

    @include tablet {
        flex-wrap: nowrap;
        gap: unset;
    }
}

.slider__slide {
    @include tablet {
        flex: 0 0 auto;
        width: 100%;
        opacity: 0.7; /* Затухаем неактивные слайды*/
        transition: opacity 0.3s ease-in-out;
    }
}

.slider__slide:first-child {
    @include tablet {
        opacity: 1; /* Убираем затухание первого слайда*/
    }
}
