.slider-container {
    position: relative;
    @include tablet {
        width: 320px;
        overflow: hidden;
        margin: 20px auto;
        display: flex; /* Добавляем flexbox для контейнера */
        flex-direction: column; /* Выравниваем по вертикали */
    }
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;

    @include tablet {
        flex-wrap: nowrap;
        gap: unset;
    }
}

.slider__slide {
    @include tablet {
        flex: 0 0 auto;
        width: 100%;
        opacity: 0.7; /* Затухаем неактивные слайды*/
        transition: opacity 0.3s ease-in-out;
    }
}

.slider__slide:first-child {
    @include tablet {
        opacity: 1; /* Убираем затухание первого слайда*/
    }
}

.slider__button {
    display: none;

    @include tablet {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        background: #c0b7e8;
        border-radius: 50%;
        border: 6px solid #333;
        cursor: pointer;
        padding: 10px;
        color: #333;
        // z-index: 10;
    }
}
.slider__button--prev {
    display: none;

    @include tablet {
        display: block;
        left: 10px;
    }
}

.slider__button--next {
    display: none;
    @include tablet {
        display: block;
        right: 10px;
    }
}
